apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-deploy
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    # After the next update, Deployment will kill one pod as a first step and then creates new version of the pod to keep total replicas count equal to amount set in spec. After the new pod becomes ready, the process will repeat with the next pod.
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    spec:
      securityContext:
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: cozy-quilt
          image: {{ .Values.image }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          imagePullPolicy: Always
          env:
            - name: MODE
              value: quilt
          envFrom:
            - configMapRef:
                name: {{ .Chart.Name }}-config
            - secretRef:
                # env name should be TOKEN
                name: cozy-quilt-discord-token
          resources:
            {{ toYaml .Values.resources | nindent 10 }}
        - name: cozy-collab
          image: {{ .Values.image }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          imagePullPolicy: Always
          env:
            - name: MODE
              value: collab
          envFrom:
            - configMapRef:
                name: {{ .Chart.Name }}-config
            - secretRef:
                name: cozy-collab-discord-token
          resources:
            {{ toYaml .Values.resources | nindent 10 }}
        - name: cozy-showcase
          image: {{ .Values.image }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          imagePullPolicy: Always
          env:
            - name: MODE
              value: showcase
          envFrom:
            - configMapRef:
                name: {{ .Chart.Name }}-config
            - secretRef:
                name: cozy-showcase-discord-token
          resources:
            {{ toYaml .Values.resources | nindent 10 }}
        - name: cozy-dev
          image: {{ .Values.image }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          imagePullPolicy: Always
          env:
            - name: MODE
              value: dev
          envFrom:
            - configMapRef:
                name: {{ .Chart.Name }}-config
            - secretRef:
                name: cozy-dev-discord-token
          resources:
            {{ toYaml .Values.resources | nindent 10 }}
      imagePullSecrets:
        - name: regcred
      volumes:
        - name: {{ .Chart.Name }}-storage
          emptyDir: { }
