postgresql:
  auth:
    username: "forum_quiltmc_org"
    database: "forum_quiltmc_org"
    password: "default"


redis:
  auth:
    enabled: false

discourse:
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: 75

  cert-manager:
    install: false

  configMap:
    data:
      DISCOURSE_HOSTNAME: 'forum.quiltmc.org'
      DISCOURSE_DB_PORT: 5432
      DISCOURSE_DB_SOCKET: ""
      DISCOURSE_DEVELOPER_EMAILS: 'pyrofab@quiltmc.net, tibs@quiltmc.net'
      DISCOURSE_SMTP_ADDRESS: 'email-smtp.us-west-2.amazonaws.com'
      DISCOURSE_NOTIFICATION_EMAIL: 'discourse@forum.quiltmc.org'
      DISCOURSE_REDIS_HOST: "quilt-forum-redis-master.quilt.svc.cluster.local"
      DISCOURSE_DB_HOST: "quilt-forum-postgresql.quilt.svc.cluster.local"
      DISCOURSE_S3_ENDPOINT: 'https://s3.eu-central-003.backblazeb2.com'
      DISCOURSE_S3_CDN_URL: 'https://forum-cdn.quiltmc.org'
      DISCOURSE_S3_BUCKET: 'forum-quiltmc-org'
      LANG: en_US.UTF-8
      RAILS_ENV: production
      RUBY_GC_HEAP_GROWTH_MAX_SLOTS: 40000
      RUBY_GC_HEAP_INIT_SLOTS: 400000
      RUBY_GC_HEAP_OLDOBJECT_LIMIT_FACTOR: 1.5
      RUBY_GLOBAL_METHOD_CACHE_SIZE: 131072
      UNICORN_SIDEKIQS: 1
      UNICORN_WORKERS: 1

  extraEnvVarsSecret: "discourse-secret-env"

  remoteLogger:
    enabled: false

  db:
    migrate:
      enabled: false

  image:
    repository: "ghcr.io/quiltmc/forum"
    tag: "d7fc8f9"

  ingress:
    className: "traefik"
    hosts:
      - host: "forum.quiltmc.org"
        paths:
          - path: /
            pathType: ImplementationSpecific
            serviceName: discourse
            servicePort: 80
    annotations: {}
    labels: {}
    le:
      create: false
      issuer_create: false
    name: discourse
